# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variable files
.env
*.env

# Secrets / config
config.json
*.secret.json

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# mypy / pylint / coverage
.mypy_cache/
.dmypy.json
.pyre/
.coverage
htmlcov/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Local .terraform directories
**/.terraform/

# Terraform state files
*.tfstate